/* color variables */
:root {
  --mainBlack: #222831;
  --lightBlack: #393e46;
  --mainWhite: #f5f5f5;
  --mainBlue: #364f6b;
}
/* main setup */
body{
  font-family: 'Montserrat', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
}

/* custom classes */
.text-title{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3 rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-lightblack{
  color: var(--lightBlack);
}